@import "../../global.scss";

.slide {
  color: $branco;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

  @media only screen and (max-width: 768px) {
    padding-top: 40px;
    width: 100%;
  }

  & img {
    width: 75%;
    height: 70%;
  }
}
