$cinza: #707070;
$bg-right: #00000029;
$bg-left: #A9C5BA;
$branco: #fff;
$preto: #000;

@mixin title {
  color: $cinza;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

@mixin text {
  color: $cinza;
  text-align: left;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

@mixin botao {
  color: $branco;
  font-size: 16px;
  height: 45px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  outline: none;
}

@mixin line {
  border-bottom: 1px solid $cinza;
  height: 100%;
  width: 100%;
  margin: 0 5px;
}